Repository vincentkoc/finagotchi: changes, and which pre-commit hooks are due for each by the changed paths.
All: fe-lint, fe-typecheck

fe-lint:
  name: frontend eslint
  entry: bash -c 'cd frontend && npx next lint --quiet'
  language: system
  pass_filenames: false

fe-typecheck:
  name: frontend typecheck
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: frontend pages
  frontend/app/about/page.tsx
  frontend/app/create/page.tsx
  frontend/app/layout.tsx
  frontend/app/page.tsx
Due: fe-lint, fe-typecheck

chore: frontend components on dialog and graduation
  frontend/app/play/components/Dialog/index.tsx
  frontend/app/play/components/Dialog/useDilemmaSubmit.ts
  frontend/app/play/components/FeedbackControls.tsx
  frontend/app/play/components/Graduation/Certificate.tsx
  frontend/app/play/components/Graduation/EvolutionJourney.tsx
  frontend/app/play/components/Graduation/MoralAttributes.tsx
  frontend/app/play/components/Graduation/PetInfo.tsx
  frontend/app/play/components/Graduation/index.tsx
Due: fe-lint, fe-typecheck

chore: frontend components on header
  frontend/app/play/components/Header/ActionButtons.tsx
  frontend/app/play/components/Header/DilemmaTracker.tsx
  frontend/app/play/components/Header/FeedMinigame.tsx
  frontend/app/play/components/Header/HealMinigame.tsx
  frontend/app/play/components/Header/PlayMinigame.tsx
  frontend/app/play/components/Header/index.tsx
Due: fe-lint, fe-typecheck

feat: pet evolution
  frontend/app/play/components/utils/evolve.ts
Due: fe-lint, fe-typecheck

chore: frontend components on cards
  frontend/app/scrapbook/components/PetCard.tsx
Due: fe-lint, fe-typecheck

chore: deps pakage and conf
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: fe-lint, fe-typecheck

feat: fe and be API
  frontend/lib/api.ts
Due: fe-lint, fe-typecheck

chore: next conf
  frontend/eslint.config.mjs
  frontend/postcss.config.js
Due: fe-lint

chore: fe consts
  frontend/constants/base.ts
  frontend/constants/dilemmas.ts
  frontend/constants/evolutions.ts
  frontend/constants/morals.ts
Due: fe-lint, fe-typecheck

chore: FE visual components
  frontend/components/Background.tsx
  frontend/components/Choices.tsx
  frontend/components/HoverText.tsx
  frontend/components/Menu.tsx
  frontend/components/Textarea.tsx
  frontend/components/Window.tsx
  frontend/components/WindowTextarea.tsx
Due: fe-lint, fe-typecheck

chore: UI dilema
  frontend/app/utils/dilemma.ts
Due: fe-lint, fe-typecheck

chore: FE play
  frontend/app/play/layout.tsx
  frontend/app/play/page.tsx
  frontend/app/play/utils/index.ts
  frontend/app/play/utils/random.ts
  frontend/app/play/utils/useOutcomes.ts
  frontend/app/storage/pet/index.ts
Due: fe-lint, fe-typecheck

chore: FE viewport
  frontend/app/play/components/Viewport/Question.tsx
  frontend/app/play/components/Viewport/index.tsx
Due: fe-lint, fe-typecheck

chore: other components
  frontend/app/play/components/GraphPanel.tsx
  frontend/app/play/components/Loading.tsx
  frontend/app/play/components/MoralStats.tsx
  frontend/app/play/components/Outcome.tsx
Due: fe-lint, fe-typecheck

chore: csss
  frontend/app/globals.css
Due: none

chore: script to test qdrant
  backend/scripts/qdrant_info.py
Due: none

Update .gitignore
  .gitignore
Due: none

chore: frontend dossiers
  backend/app/docstrings.py
  backend/app/kuzu_adapter.py
  backend/app/main.py
  backend/app/qdrant_client.py
  backend/app/schemas.py
  frontend/app/dossiers/components/Dossiers.tsx
  frontend/app/dossiers/components/PetCard.tsx
  frontend/app/dossiers/page.tsx
  frontend/app/play/page.tsx
  frontend/components/Menu.tsx
Due: fe-lint, fe-typecheck

Create .gitkeep
  data/.gitkeep
Due: none

chore: backend updates to improve data models
  backend/app/graph_fallback.py
  backend/app/kuzu_adapter.py
  backend/app/main.py
  backend/app/pet_store.py
  backend/app/qdrant_client.py
  backend/app/schemas.py
  frontend/app/play/components/GraphPanel.tsx
  frontend/app/play/page.tsx
Due: fe-lint, fe-typecheck

chore: ux
  frontend/app/dossiers/page.tsx
  frontend/app/play/components/MoralStats.tsx
  frontend/app/storage/pet/index.ts
Due: fe-lint, fe-typecheck

Create README.md
  .gitignore
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update requirements.txt
  backend/requirements.txt
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

fix: backend v2
  backend/app/config.py
  backend/app/graph_fallback.py
  backend/app/inproc_llm.py
  backend/app/kuzu_adapter.py
  backend/app/llm_client.py
  backend/app/main.py
  backend/app/pet_store.py
  backend/app/qdrant_client.py
  backend/app/schemas.py
Due: none

Update README.md
  backend/README.md
Due: none

fix: tests and test scripts
  backend/scripts/build_kuzu_from_qdrant.py
  backend/scripts/kuzu_schema.py
  backend/scripts/qdrant_download_snapshots.py
  backend/scripts/qdrant_info.py
  backend/scripts/qdrant_restore_snapshots.py
  backend/scripts/smoke_models.py
  backend/scripts/verify_qdrant_dims.py
  backend/tests/test_api.py
Due: none

chore: font
  frontend/app/bitmap.otf
Due: none

fix: frontend and make runner various
  Makefile
  backend/app/kuzu_adapter.py
  frontend/app/about/page.tsx
  frontend/app/create/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/app/play/components/Dialog/index.tsx
  frontend/app/play/components/Dialog/useDilemmaSubmit.ts
  frontend/app/play/components/GraphPanel.tsx
  frontend/app/play/components/Viewport/index.tsx
  frontend/app/play/page.tsx
  frontend/app/play/utils/index.ts
  frontend/app/providers/PetProvider.tsx
  frontend/components/Background.tsx
  frontend/components/Menu.tsx
  frontend/constants/evolutions.ts
  frontend/tailwind.config.js
  scripts/run_llm_chat.sh
Due: fe-lint, fe-typecheck

fix: backend
  backend/app/graph_fallback.py
  backend/app/inproc_llm.py
  backend/app/kuzu_adapter.py
  backend/app/main.py
  backend/app/pet_store.py
  backend/app/qdrant_client.py
Due: none

feat: docker deploy for digitalocean
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Due: none

Create export_pet.py
  backend/scripts/export_pet.py
Due: none

docs: update docs
  docs/API_OVERVIEW.md
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_DO_GPU.md
  docs/LLAMA_CPP_SETUP.md
Due: none

chore: random
  frontend/app/create/page.tsx
Due: fe-lint, fe-typecheck

chore: various
  Makefile
  frontend/README.md
  frontend/app/play/components/Dialog/useDilemmaSubmit.ts
  frontend/app/play/components/GraphPanel.tsx
  frontend/constants/objects.ts
  frontend/constants/sprites.ts
  frontend/lib/api.ts
  scripts/bootstrap_backend_gpu.sh
  scripts/bootstrap_frontend_cpu.sh
Due: fe-lint, fe-typecheck

chore: deployment
  docs/DEPLOYMENT_DO_GPU.md
  scripts/bootstrap_backend_gpu.sh
  scripts/bootstrap_frontend_cpu.sh
Due: none

Path conditions:
  fe-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  fe-typecheck: any of: ^frontend/.*\.(ts|tsx)$
